/* Product Card */
.product-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}


/* rating*/
.rating{
  span{
    color: yellow;
    font-size: 1.1rem;
  }
}

.main-image-container {
  overflow: hidden;
}

.main-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: scale 0.3s ease;
}

.product-card:hover .main-image {
  scale: 1.05;
}

.thumbnail-gallery img {
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.2s ease;
  width:30px;
}

.thumbnail-gallery img:hover {
  border-color: #007bff;
}

.search-container {
  max-width: 100%;
  margin: 1rem auto;
}

.search-container .form-control {
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 0.95rem;
}

.search-container .btn {
  white-space: nowrap;
  font-size: 0.95rem;
}